{% extends "base.html" %}
{% load bootstrap %}

<link rel="stylesheet" href="style.css">
{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_venda_lista' %}">Lista de vendas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{% url 'core_colaboradores_list' %}">Lista de colaboradores</a>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12">
        <br>
        <div class=" col-12 font-weight-bold text-center text-uppercase p-3 mb-2 bg-info text-white">
            <h2> Colaboradores </h2>
	    </div>

        <table class="table table-striped font-weight-bold">
            <thead class="thead">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Salário</th>
                <th scope="col">Descrição Salário</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in object_list %}
                <tr>
                <th scope="row">{{colaborador.id}}</th>
                <td >{{colaborador.nome}}</td>
                <td >{{colaborador.telefone}}</td>
                <td >{{colaborador.endereco}}</td>
                <td >{{colaborador.salario}}</td>
                <td >{{colaborador.descricao_salario}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'core_colaborador_create' %}" class="btn btn-primary font-weight-bold">Cadastrar Colaborador</a>
{% endblock  %}
