

    <h1>Dashboard</h1>

    <ul>
        <li>Media de entregas: {{ quantidade_entregas }} | Media por dia: {{media_entregas}}</li>
        <li>Venda mensal dinheiro: {{ venda_mensal_dinheiro }}</li>
        <li>Venda mensal cartao: {{ venda_mensal_cartao }}</li>
        <li>Soma dinheiro com cartao: {{ soma_venda_dinheiro_cartao }}</li>
        <li>Despesa mensal: {{ despesa_mensal }}</li>
        <li>Compra mensal: {{ compras_mensal }}</li>
        <li>Despesa total: {{ soma_despesa_total }}</li>
        <li>Lucro Liquido: {{ soma_mensal_lucro_liquido }}</li>

    </ul>

