{% extends "base.html" %}
{% load bootstrap %}


{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active " href="{% url 'core_dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_venda_lista' %}">Lista de vendas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_colaboradores_list' %}">Lista de colaboradores</a>
        </li>


        {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Alterar senha</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12">
        <br>
        <div class="col-12 font-weight-bold text-center text-uppercase p-3 mb-2 bg-info text-white">
            <h2> Dashboard </h2>
	    </div>
        <table class="table font-weight-bold">
            <thead class="thead">
                <tr>
                <th scope="col">Total de entregas</th>
                <th scope="col" class="text-primary">Venda dinheiro</th>
                <th scope="col" class="text-primary" data-toggle="tooltip" data-placement="top" title="Vendas no cartão -3% de taxa administrativa.">Venda cartão</th>
                <th scope="col" class="text-primary">Soma dinheiro e cartão</th>
                <th scope="col" class="text-danger">Despesa </th>
                <th scope="col" class="text-danger">Compra </th>
                <th scope="col" class="text-danger" data-toggle="tooltip" data-placement="top" title="Soma despesa + compra.">Despesa total</th>
                <th scope="col" class="text-success" data-toggle="tooltip" data-placement="top" title="Soma dinheiro e cartão menos despesa total.">Lucro Liquido</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                <td>{{quantidade_entregas}}</td>
                <td class="text-primary">{{venda_mensal_dinheiro}}</td>
                <td class="text-primary">{{venda_mensal_cartao}}</td>
                <td class="text-primary">{{soma_venda_dinheiro_cartao}}</td>
                <td class="text-danger">{{despesa_mensal}}</td>
                <td class="text-danger">{{compras_mensal}}</td>
                <td class="text-danger">{{soma_despesa_total}}</td>
                <td class="text-success">{{soma_mensal_lucro_liquido}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock  %}
