{% extends "base.html" %}
{% load bootstrap %}


{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_venda_create' %}">Cadastrar venda</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{% url 'core_venda_lista' %}">Lista de vendas</a>
        </li>
    </ul>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <br>
        <div class="btn btn-info col-12 font-weight-bold">
            <h2> Vendas Diarias </h2>
	    </div>

        <table class="table font-weight-bold">
            <thead class="thead">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Dia</th>
                <th scope="col">Entregas</th>
                <th scope="col" class="text-primary">Dinheiro</th>
                <th scope="col" class="text-primary">Cartão</th>
                <th scope="col" class="text-danger">Compras</th>
                <th scope="col" class="text-danger">Despesas</th>
                <th scope="col" class="text-danger">Despesa do dia</th>
                <th scope="col" class="text-primary">Venda dinheiro e cartão</th>
                <th scope="col" class="text-success">Venda Liquida</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in object_list %}
                <tr>
                <th scope="row">{{venda.id}}</th> <!--venda.somames()-->
                <td>{{venda.dia_da_venda}}</td>
                <td >{{venda.quantidade_entregas}}</td>
                <td class="text-primary">{{venda.venda_dinheiro}}</td>
                <td class="text-primary">{{venda.venda_cartao}}</td>
                <td class="text-danger">{{venda.compras}}</td>
                <td class="text-danger">{{venda.despesas}}</td>
                <td class="text-danger">{{venda.despesa_do_dia}}</td>
                <td class="text-primary">{{venda.venda_total_dia}}</td>
                <td class="text-success">{{venda.lucro_liquido_dia}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}