<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Venda cadastrada com sucesso!</h1>
    <h3>Data: {{ dia.dia_da_venda }}</h3>
    <h3>Entregas: {{ dia.quantidade_entregas }}</h3>
    <h3>Dinheiro: {{ dia.venda_dinheiro }}</h3>
    <h3>Cartão: {{ dia.venda_cartao }}</h3>
    <h3>Compras: {{ dia.compras }}</h3>
    <h3>Despesas: {{ dia.despesas }}</h3>
    <h3>Total Despesas: {{ dia.despesa_do_dia }}</h3>
    <h3>Venda Bruta: {{ dia.venda_total_dia }}</h3>
    <h3>Venda Liquida: {{ dia.lucro_liquido_dia }}</h3>


</body>
</html>