<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Venda cadastrada com sucesso!</h1>
    <h3>Data: {{ dia }}</h3>
    <h3>Entregas: {{ qtd_entregas }}</h3>
    <h3>Dinheiro: {{ dinheiro }}</h3>
    <h3>Cartão: {{ cartao }}</h3>
    <h3>Compras: {{ compras }}</h3>
    <h3>Despesas: {{ despesas }}</h3>
    <h3>Total Despesas: {{ tot_despesas }}</h3>
    <h3>Venda Bruta: {{ bruto }}</h3>
    <h3>Venda Liquida: {{ liquido }}</h3>


</body>
</html>